{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="container">
    <img src="https://1.bp.blogspot.com/-SpqUfgTGxXs/Wj1ZlQFspUI/AAAAAAABQnk/u5tVg5LxoQ0FsCUyTPf2PyieelFJVVBCQCLcBGAs/s1600/River%2BPlate256x.png">
    <h1>{{ page.full_name }}</h1>
    <p>Fecha de fundación: {{ page.date_of_birth }}</p>
    <p>Ciudad: {{ page.birth_city }}, {{ page.birth_country }} ({{ page.birth_coordinates }})</p>
    <h2>Biografía</h2>
    <p>{{ page.biography }}</p>

    <h2>Enlaces a redes sociales</h2>
    <p>{{ page.social_links|urlize }}</p>
  </div>

{% endblock %}