{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="cover_image">
            {% image page.foto width-300 %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="nombre"><strong>Nombre: </strong> {{ page.nombre }} </div>
        <div class=""><strong>Fecha de nacimiento {{ page.fecha_nacimiento }} </strong></div>
        <div class=""><strong>Lugar de nacimiento: </strong> {{ page.lugar_nacimiento }} </div>
        <div class=""><strong>Videojuego: </strong> {{ page.videojuego }} </div>
        <div class=""><strong>Peso: </strong> {{ page.peso }} </div>
        <div class=""><strong>Altura: </strong> {{ page.altura }} </div>
        <div class=""><strong>Hijos: </strong> {{ page.hijos}} </div>
    </div>

</div>

{% endblock %}