{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}


{% for post in page.get_children.specific %}
<div class="card mb-4">
  {% if post.header_image %}
    {% image post.header_image original as header_image %}
    <a href="{% pageurl post %}">
      <img src="{{ header_image.url }}" class="card-img-top">
    </a>
  {% endif %}

  <div class="card-body">
    <h2 class="card-title">
      <a href="{% pageurl post %}">{{ post.title }}</a>
    </h2>
    <p class="card-text">
      {{ post.description }}
    </p>
    <a href="{% pageurl post %}" class="btn btn-primary">Read More &rarr;</a>

  </div>

  <div class="card-footer text-muted">
    Posted on {{ post.last_published_at }}
  </div>

</div>
{% endfor %}

    <h1>{{ page.title }}</h1>
    <p class="meta">Fecha de nacimiento: {{ page.date }}</p>
    <div class="intro">Nombre: {{ page.nombre }}</div>
    <div class="intro">Lugar de nacimiento: {{ page.lugar_de_nacimiento }}</div>
    <div class="biografia">Biografía: {{ page.body }}</div>
    <div class="rrss">Redes sociales: {{ page.enlace_redes_sociales }}</div>
    <div class="detalles">Otros detalles: {{ page.otros_detalles }}</div>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}