{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<h1 class="text-center mt-3">{{page.title }}</h1>
<hr>
<div class="imagen">
    <img src="{{page.imagen.url}}" class="img-fluid" alt="Responsive image">
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="100%" height="600" src="{{page.video}}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
<hr>
{{ page.body|richtext }}
{% endblock %}