<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src="/static/images/logo2.png" alt="Logo" height="100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: #333;">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #333;">
          La saga
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/assassins-creed-i">Assassin's Creed I</a>
          <a class="dropdown-item" href="/assassinss-creed-ii">Assassin's Creed II</a>
          <a class="dropdown-item" href="/assassinss-creed-ii">Assassin's Creed Brotherhood</a>
          <a class="dropdown-item" href="/assassins-creed-revelations">Assassin's Creed Revelations</a>
          <a class="dropdown-item" href="/assassins-creed-iii">Assassin's Creed III</a>
          <a class="dropdown-item" href="/assassins-creed-iv-black-flag">Assassin's Creed IV: Black Flag</a>
          <a class="dropdown-item" href="/assassins-creed-unity">Assassin's Creed: Unity</a>
          <a class="dropdown-item" href="/assassins-creed-syndicate">Assassin's Creed: Syndicate</a>
          <a class="dropdown-item" href="/assassins-creed-origins">Assassin's Creed: Origins</a>
          <a class="dropdown-item" href="/assassins-creed-odyssey">Assassin's Creed: Odyssey</a>
          <a class="dropdown-item" href="/assassins-creed-valhalla">Assassin's Creed: Valhalla</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listado" style="color: #333;">Listado de juegos <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/formulario-de-contacto" style="color: #333;">Contacto <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sobre-nosotros" style="color: #333;">Acerca de <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>