<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
      <img src="/static/images/logo2.png" alt="..." height="100">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          La saga
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/assasins-creed-1">Assassin's Creed I</a>
          <a class="dropdown-item" href="/assassinss-creed-ii">Assassin's Creed II</a>
          <a class="dropdown-item" href="/assassinss-creed-ii">Assassin's Creed Brotherhood</a>
          <a class="dropdown-item" href="/assassins-creed-revelations">Assassin's Creed Revelations</a>
          <a class="dropdown-item" href="/assassins-creed-iii">Assassin's Creed III</a>
          <a class="dropdown-item" href="/assassins-creed-iv-black-flag">Assassin's Creed IV: Black Flag</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>